
// 首頁 - 節慶活動卡片
.home_activity{
    .card {
        cursor: pointer;
        border: 0;
        overflow: hidden;
    }

    .card-title {
        // 多餘的文字會截斷
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .card-body{
        padding: 0 1rem;
        height: 100%;
    }

    .imgWarp {
        display: block;
        overflow: hidden;
        border-radius: 12px;
        height: 100%;
    }

    .card-img {
        height: 100%;
        &:hover {
            transform: scale(1.2);
        }
    }
}

@include media-breakpoint-up(md) { 
    .home_activity{
        .card-body{
            border-radius: 0 12px 12px 0px;
            background-color: #F9F9F9;
            border: 1px solid #E5E5E5;
            // 由於 border 是不可繼承樣式，設定了 border: unset 的元素，最終表現為 border: initial ，也就是預設 border 樣式，無邊框。
            border-left: unset; 
        }

        .imgWarp {
           border-radius: 0;
        }

        .card-img {
            border-radius: 12px 0 0 12px;
        }
    } 
}




// 分頁 -  熱門分類卡片
.category-card{
    position: relative;
    .category-cardText {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        color: $white;
        font-weight: 700;
        opacity: .6;
    }
   
    &:hover {
        .category-cardText  {
            opacity: 1;
         }

         .zoomImg{
            transform: scale(1.2);
        }
    } 
}


// 分頁 - 搜尋結果卡片
.resultList-card {
    cursor: pointer;

    .card-title-hover {
        color: $gray-black;
    }

   &:hover  { 
    .zoomImg { 
        transform: scale(1.2);
     }

     .card-title-hover {
         color: $primary;
     }
   }
}


// 分類內頁 - 周邊卡片
.nearbyInfo-card{
    .nearbyIcon {
        text-align: center;
        display: block;
    }

    .nearbyIcon-hover {
        text-align: center;
        display: none;
    }

    .nearbyInfo-cardtext{
        text-align: center;
    }


    &:hover{
        .nearbyIcon {
            display: none;
        }
    
        .nearbyIcon-hover {
            display: block;
        }

        .nearbyInfo-cardtext {
            color: $primary;
           
        }
    }

    &.active {
        box-shadow: $box-shadow;
        .nearbyIcon {
            display: none;
        }
    
        .nearbyIcon-hover {
            display: block;
        }

        .nearbyInfo-cardtext {
            color: $primary;
           
        }
    }
}

