
// slogan 底線
.deco-line-warning {
   border-bottom: 3px solid $warning;
}


// 導覽列選單 hover 底線
.deco-line-primary-hover::after {
   content: '';
   position: absolute;
   top: 100%;
   left: 0;
   right: 0;
   margin: auto;
   width: 0%;
   height: 3px;
   background: $primary;
   opacity: 1;
   margin-top: 1px;
}


.deco-line-primary-hover {
   &:hover::after, :focus::after{
      opacity: .6;
      width: 100%;
   }
}

.deco-line-primary-hover.active  {
     &::after {
      opacity: .6;
      width: 100%;
   }
}


@include media-breakpoint-up(lg) { 
   .deco-line-primary-hover::after {
      margin-top: 10px;
   }
}
